<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title-ECS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</head>

<body>
    <header>
        <div id="top">
            <section id="login">
                @Html.ActionLink("Registrate", "Registrate", "Registration")
            </section>
        </div>        
        <script type="text/javascript">
            function rss() {
                window.open('@Url.Action("RSS", "RSS")');    
            }
        </script>
    </header>
    <div id="container">
        <div id="navMain" class="nav">
            <ul id="menu">
                <li>@Html.ActionLink("Search Page", "Index", "Home")</li>
                <li>@Html.ActionLink("TEAM 8", "About", "Home")</li>
                <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>                
            </ul>
        </div>
        @*@if (ViewBag.userrole == "administrator"){*@
        <div id="navAdmin" class="nav">
            <ul id="menu">
                <li>@Html.ActionLink("Contracts", "ContractView", "Admin")</li>
                <li>@Html.ActionLink("Users", "UserView", "Admin")</li>
                <li>@Html.ActionLink("Cars", "CarView", "Admin")</li>
            </ul>
        </div>
        @*}*@
        <button id="rss" onclick="rss()" />
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Eiffeltower CarSharing</p>
        </footer>
    </div>
</body>
</html>