<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title-ECS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <header>
        <div id="top">
            <section id="login">
                @Html.ActionLink("Registrate", "Registrate", "Registration")
            </section>
        </div>        
        <script type="text/javascript">
            function rss() {
                window.open('@Url.Action("RSS", "RSS")');    
            }
        </script>
    </header>

    <!--
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>
    -->

    <div id="container">
        <div id="navMain" class="nav">
            <ul id="menu">
                <li>@Html.ActionLink("Search Page", "Index", "Home")</li>
                @*<li>@Html.ActionLink("link", "About" , "Home" )</li>
                <li>@Html.ActionLink("link", "Contact" , "Home" )</li>
                <li>@Html.ActionLink("LINK", "Index", "Home")</li>*@
                <li>@Html.ActionLink("TEAM 8", "About", "Home")</li>
                <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
            </ul>
        </div>
        <div id="navAdmin" class="nav">
            <ul id="menu">
                <li>@Html.ActionLink("Users", "UserView", "Admin")</li>
                <li>@Html.ActionLink("Cars", "CarView", "Admin")</li>
            </ul>
        </div>
        <button id="rss" onclick="rss()" />
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Eiffeltower CarSharing</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>