@model CarSharing.Models.CarProfile

@{
    ViewBag.Title = "CarDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
        function initialize()
        {
            var myLatlng = new google.maps.LatLng(@Html.DisplayFor(model => model.parking_pos));
            var mapOptions = {
                zoom: 14,
                center: myLatlng
            }
            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: '@Html.DisplayFor(model => model.name)'
            });
        }

                google.maps.event.addDomListener(window, 'load', initialize);

    </script>

<h2>CarDetails</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>

        <dt>
           State
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            Registration Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.registration_number)
        </dd>

        <dt>
            Mileage
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mileage)
        </dd>

        <dt>
            Aircondition
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aircon)
        </dd>

        <dt>
            Navigation
        </dt>

        <dd>
            @Html.DisplayFor(model => model.navigation)
        </dd>

        <dt>
            Automatic Transmission
        </dt>

        <dd>
            @Html.DisplayFor(model => model.transmission_type)
        </dd>

        <dt>
            Power [HP]
        </dt>

        <dd>
            @Html.DisplayFor(model => model.power)
        </dd>

        <dt>
            Picture
        </dt>

        <dd>
            <img src=@Html.DisplayFor(model => model.picture_link) alt=@Html.DisplayNameFor(model => model.name)>
        </dd>

        <dt>
            Parking Position
        </dt>

        <dd>
            <div id="map-canvas" style="height:300px; width:600px;"></div>
            @Html.DisplayFor(model => model.parking_pos)
        </dd>
        
        <dt>
            Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>
        
        <dt>
            Number of seats
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seat_size)
        </dd>
        
        <dt>
            Class
        </dt>

        <dd>
            @Html.DisplayFor(model => model.car_class)
        </dd>
        
        <dt>
            Price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CarEdit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "CarView")
</p>
