@model CarSharing.Models.WrapCarContractTables

@{
    ViewBag.Title = "CarDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
        function initialize()
        {
            var myLatlng = new google.maps.LatLng(@Html.DisplayFor(model => model.carTable.parking_pos));
            var mapOptions = {
                zoom: 14,
                center: myLatlng
            }
            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: '@Html.DisplayFor(model => model.carTable.name)'
            });
        }

                google.maps.event.addDomListener(window, 'load', initialize);

</script>

<h2>CarDetails</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.carTable.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carTable.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carTable.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carTable.state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carTable.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carTable.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carTable.registration_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carTable.registration_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carTable.mileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carTable.mileage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carTable.aircon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carTable.aircon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carTable.navigation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carTable.navigation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carTable.transmission_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carTable.transmission_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carTable.power)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carTable.power)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carTable.picture_link)
        </dt>

        <dd>
            <img src=@Html.DisplayFor(model => model.carTable.picture_link) alt=@Html.DisplayNameFor(model => model.carTable.name)>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carTable.parking_pos)
        </dt>

        <dd>
            <div id="map-canvas" style="height:300px; width:600px;"></div>
            @Html.DisplayFor(model => model.carTable.parking_pos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carTable.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carTable.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carTable.seat_size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carTable.seat_size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carTable.car_class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carTable.car_class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carTable.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carTable.price)
        </dd>
    </dl>
</div>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            User ID
        </th>
        <th>
            PickUp - date
        </th>
        <th>
            Return - date
        </th>
        <th>
            Pickup location
        </th>
        <th>
            Return location
        </th>
        <th>
            Distance
        </th>
        <th>
            Price
        </th>
    </tr>
    @foreach (CarSharing.contract contractItem in ViewData.Model.contractTable)
    {
        <tr>
            <td>
                @Html.DisplayFor(wrapperItem => contractItem.id)
            </td>
            <td>
                @Html.DisplayFor(wrapperItem => contractItem.user_id)
            </td>
            <td>
                @Html.DisplayFor(wrapperItem => contractItem.pick_up_date)
            </td>
            <td>
                @Html.DisplayFor(wrapperItem => contractItem.return_date)
            </td>
            <td>
                @Html.DisplayFor(wrapperItem => contractItem.start_location)
            </td>
            <td>
                @Html.DisplayFor(wrapperItem => contractItem.end_location)
            </td>
            <td>
                @Html.DisplayFor(wrapperItem => contractItem.distance)
            </td>
            <td>
                @Html.DisplayFor(wrapperItem => contractItem.price)
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Edit", "CarEdit", new { id = Model.carTable.id }) |
    @Html.ActionLink("Back to List", "CarView")
</p>