@model CarSharing.Models.WrapCarTables

@{
    ViewBag.Title = "CarView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CarView</h2>

<p>
    @Html.ActionLink("Create New Car", "CarCreate")
</p>
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            State
        </th>
        <th>
            Car Model
        </th>
        <th>
            Registration number
        </th>
        <th>
            Mileage
        </th>
        <th>
            Aircondition
        </th>
        <th>
            Navigation
        </th>
        <th>
            Transmission type
        </th>
        <th>
            Power [HP]
        </th>
        <th>
            Image link
        </th>
        <th>
            Parking position
        </th>
        <th>
            Type
        </th>
        <th>
            Seats
        </th>
        <th>
            Class
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.id)*@
            Price
        </th>
    </tr>

    @foreach (CarSharing.Models.CarProfile item in ViewData.Model.carTable)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.registration_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mileage)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.aircon)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.navigation)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.transmission_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.power)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.picture_link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.parking_pos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.seat_size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.car_class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.ActionLink("Edit", "CarEdit", new { id = item.id }) |
                @Html.ActionLink("Details", "CarDetails", new { id = item.id }) |
                @Html.ActionLink("Delete", "CarDelete", new { id = item.id })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Create New Type", "CarTypeCreate")
</p>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Type
        </th>
        <th>
            Seats
        </th>
        <th>
            Class
        </th>
        <th>
            Price
        </th>
    </tr>
    @foreach (CarSharing.car_type typeItem in ViewData.Model.carTypeTable)
    {
        <tr>
            <td>
                @Html.DisplayFor(wrapperItem => typeItem.id)
            </td>
            <td>
                @Html.DisplayFor(wrapperItem => typeItem.type)
            </td>
            <td>
                @Html.DisplayFor(wrapperItem => typeItem.seat_size)
            </td>
            <td>
                @Html.DisplayFor(wrapperItem => typeItem.car_class)
            </td>
            <td>
                @Html.DisplayFor(wrapperItem => typeItem.price)
            </td>
            <td>
                @Html.ActionLink("Edit", "CarTypeEdit", new { id = typeItem.id }) |
                @Html.ActionLink("Delete", "CarTypeDelete", new { id = typeItem.id })
            </td>
        </tr>
    }
</table>