@model List<CarSharing.Models.UserProfile>

@{
    ViewBag.Title = "UserView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "UserCreate")
</p>
<table class="table">
    <tr>
        <th>
            Username
        </th>
        <th>
            Password
        </th>
        <th>
            Firstname
        </th>
        <th>
           Family name
        </th>
        <th>
           Date of birth
        </th>
        <th>
            Ident string
        </th>        
        <th>
            Email
        </th>
        <th>
            Access_state
        </th>
        <th>
            Street
        </th>
        <th>
            Zip
        </th>
        <th>
            City
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.login_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_of_birth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.identity_number)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.access_state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.post_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.ActionLink("Edit", "UserEdit", new CarSharing.Models.UserProfile{ id = item.id }) |
                @Html.ActionLink("Details", "UserDetails", new { id = item.id }) |
                @Html.ActionLink("Delete", "UserDelete", new { id = item.id })
            </td>
        </tr>
    }

</table>